canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  background: black;
  margin-top: -300px;
  margin-left: -300px;
}

footer{
  position: absolute;
  width: 20%;
  height: 40px;
  background: black;
  color: white;
  margin-top: 0;
  top: 600px;
}